/* Resoluciones: 450, 865, 1920 */

/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Noto+Serif:wght@600&display=swap");

/* ESTILOS GENERALES */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Lato", sans-serif;
  color: rgb(0, 59, 74);
  background-color: rgb(247, 247, 247);

  margin: 0;
}

h2,
h3 {
  font-family: "Noto Serif", serif;
}

span.negrita {
  font-weight: 700;
}

p {
  line-height: 1.5rem;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;

  width: 100vw;
}

header > a {
  margin: 2vh 5vw;
}

header > nav > ul {
  display: flex;
  flex-direction: row;

  list-style: none;

  padding: 0;

  margin: 5vh 5vw;
}

header > nav > ul > li {
  text-transform: uppercase;
  margin: 0 1vw;
}

header > nav > ul > li:first-child::after {
  content: "|";
  padding-left: 3vw;
}

header > nav > ul > li > a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(0, 59, 74);
}

header > nav > ul > li > a:hover {
  color: rgb(191, 12, 240);
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;

  padding-top: 4vh;
  padding-bottom: 10vh;

  background-color: rgb(0, 59, 74);
  color: rgb(255, 255, 255);
}

footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > div > img {
  width: 20vw;

  text-align: center;
}

footer > div > p {
  font-size: 0.9rem;
}

footer > div > ul {
  display: flex;

  list-style: none;

  padding: 0;
  margin: 0;
}

footer > div > ul.links {
  flex-direction: column;
}

footer > div > ul.links > li {
  text-align: center;
  margin: 0.5vh;
}

footer > div > ul.links > li > a {
  text-decoration: none;

  color: inherit;
}

footer > div > ul.links > li > a:hover {
  color: rgb(229, 225, 254);
}

footer > div > ul.social > li > a:hover {
  opacity: 0.7;
}

/* -----index.html----- */
/* HERO */
section.hero {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  background-image: url("../img/hero-image-home.jpg");
  background-size: 200%;
  background-position: center;

  height: 50vh;
  width: 100vw;
}

section.hero > h1 {
  text-align: left;

  font-family: "Lato", sans-serif;
  font-size: 2.8rem;
  font-weight: 900;

  margin: 0 5vw;
}

section.hero > h1 > span::after {
  content: "\A";
  white-space: pre;
}

/* NEWSLETTER */
section.newsletter {
  margin: 2vh 5vw 8vh 5vw;
}

section.newsletter > h2 {
  font-size: 2.3rem;
}

section.newsletter > div > form {
  display: flex;
  flex-direction: column;
}

section.newsletter > div > form > label {
  margin-bottom: 1vh;
}

section.newsletter > div > form > input[type="text"] {
  margin-bottom: 2vh;
  padding: 0.5vh 1vw;

  border-color: rgb(229, 225, 254);
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
}

section.newsletter > div > form > input[type="submit"] {
  width: fit-content;

  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;

  padding: 1vh 3vw;

  background-color: rgb(0, 59, 74);

  border-radius: 3px;
  border: none;

  cursor: pointer;
}

section.newsletter > div > form > input[type="submit"]:hover {
  background-color: rgb(191, 12, 240);
}

section.newsletter > div > form > small > a {
  text-decoration: none;
  color: rgb(191, 12, 240);
  border-bottom: 2px dotted;
}

section.newsletter > div > form > small > a:hover {
  color: rgb(0, 59, 74);
}

section.newsletter > div > form > div.policy {
  margin-top: 2vh;
  margin-bottom: 3vh;
}

section.newsletter > div > form > div.policy > input {
  margin: 0;
}

section.newsletter > div > form > div.policy > label {
  font-size: 0.8rem;
}

/* ARTICLES */
section.articles {
  background-color: rgb(229, 225, 254);
  padding-top: 5vh;
  padding-bottom: 7vh;
}

section.articles > article {
  margin: 3vh 5vw 6vh 5vw;
}

section.articles > article > div > img {
  width: 90vw;
}

section.articles > article > div > small {
  display: block;
  width: 100%;

  text-align: right;
  font-size: 0.6rem;
}

section.articles > article > h3 {
  font-size: 1.4rem;
  margin-top: 0;
}

section.articles > article > a {
  display: block;

  width: fit-content;

  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;

  padding: 1vh 3vw;

  margin-top: 4vh;

  background-color: rgb(0, 59, 74);

  border-radius: 3px;
  border: none;
}

section.articles > article > a:hover {
  background-color: rgb(191, 12, 240);
}

/* -----blog.html----- */
/* BLOG ENTRIES */
section.entries {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
}

section.entries > h1 {
  font-size: 2.5rem;
  font-family: "Noto Serif", serif;

  margin: 5vw;
}

section.entries > article {
  margin: 5vw;
  padding-bottom: 1vh;

  background-color: rgb(255, 255, 255);

  border-style: solid;
  border-color: rgb(229, 225, 254);
  border-width: 2px;
  border-radius: 1px;
}

section.entries > article > div.img {
  position: relative;
  height: fit-content;

  height: 35vh;
}

section.entries > article > div.img > img {
  position: absolute;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

section.entries > article > div.img > a {
  position: absolute;
  top: 0;
  left: 0;

  margin: 2vw;
  padding: 2vw;

  background-color: rgb(0, 59, 74);

  text-decoration: none;
  color: rgb(255, 255, 255);
}

section.entries > article > div.img > a:hover {
  background-color: rgb(191, 12, 240);
}

section.entries > article > div.img > small {
  position: absolute;
  bottom: 0;
  right: 0;

  margin: 2vw;
  padding: 1vw;

  background-color: rgba(247, 247, 247, 0.5);

  font-size: 0.7rem;
}

section.entries > article > div.text {
  padding: 1vh 5vw;
}

section.entries > article > div.text > p:first-child {
  margin: 0;

  color: rgb(158, 157, 171);
  font-size: 0.8rem;
}

section.entries > article > div.text > p:nth-child(3) {
  margin: 1vh 0;

  font-size: 0.9rem;
}

section.entries > article > div.text > a:first-of-type {
  color: rgb(0, 59, 74);
  text-decoration: none;
  font-size: 1.3rem;
}

section.entries > article > div.text > a:first-of-type:hover {
  color: rgb(191, 12, 240);
}

section.entries > article > div.text > a > h3 {
  margin: 0;
}

section.entries > article > div.text > a:last-child {
  text-decoration: none;
  color: rgb(191, 12, 240);

  border-bottom: 2px dotted;
}

section.entries > article > div.text > a:last-child:hover {
  color: rgb(0, 59, 74);
}

/* MEDIA QUERIES */
@media screen and (min-width: 450px) and (max-width: 865px) {
  /* FOOTER */
  footer > div > img {
    width: 10vw;
  }

  /* -----index.html----- */

  /* NEWSLETTER */
  section.newsletter > div > form > input[type="text"],
  section.newsletter > div > form > small {
    width: 70%;
  }

  /* ARTICLES */
  /* General rules */
  section.articles > article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 5vw;

    margin-bottom: 0;
  }

  section.articles > article {
    margin-left: 3vw;
    margin-right: 3vw;
  }

  section.articles > article > div > img {
    width: 100%;
  }

  section.articles > article > h3 {
    display: flex;
    align-items: flex-end;

    margin: 0;
  }

  section.articles > article > a {
    height: fit-content;

    margin: 0;
  }

  /* Articles where the image is on the LEFT */
  section.articles > article.left > div {
    grid-column: span 1;
    grid-row: span 3;

    transform: rotate(-5deg);
  }

  section.articles > article.left > h3 {
    grid-column: span 2;
    grid-row: span 1;
  }

  section.articles > article.left > p {
    grid-column: span 2;
  }

  /* Articles where the image is on the RIGHT */
  section.articles > article.right > div {
    grid-column: 3;
    grid-row: span 3;

    transform: rotate(5deg);
  }

  section.articles > article.right > h3 {
    grid-column: span 2;
    grid-row: 1;
  }

  section.articles > article.right > p {
    grid-column: span 2;
  }
}

@media screen and (min-width: 866px) {
  /* FOOTER */
  footer {
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 5vh;
  }

  footer > div.left {
    align-items: flex-start;

    margin-left: 5vw;
  }

  footer > div.right {
    align-items: flex-end;
    margin-right: 5vw;
  }

  footer > div.right > ul {
    margin-top: 2vh;

    flex-direction: row;
  }

  footer > div.right > ul.links > li {
    margin: 0;
    padding: 0;
  }

  footer > div.right > ul.links > li:first-child:after,
  footer > div.right > ul.links > li:nth-child(2):after {
    content: "|";
    padding-left: 1vw;
    padding-right: 1vw;
  }

  footer > div.left > img {
    width: 10vw;
  }

  /* -----index.html----- */
  /* HERO */
  section.hero > h1 {
    margin: 0 15vw;
  }

  /* NEWSLETTER */
  section.newsletter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 20%);
    column-gap: 5vw;

    margin: 2vh 15vw 8vh 15vw;
  }

  section.newsletter > h2 {
    grid-column: span 2;
  }

  section.newsletter > div.left {
    grid-column: 1;
  }

  section.newsletter > div.right {
    grid-column: 2;
  }

  /* ARTICLES */
  /* General rules */
  section.articles > article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 5vw;

    margin-bottom: 0;
  }

  section.articles > article {
    margin-left: 15vw;
    margin-right: 15vw;
  }

  section.articles > article > div > img {
    width: 100%;
  }

  section.articles > article > h3 {
    display: flex;
    align-items: flex-end;

    margin: 0;
  }

  section.articles > article > a {
    height: fit-content;

    margin: 0;
  }

  /* Articles where the image is on the LEFT */
  section.articles > article.left > div {
    grid-column: span 1;
    grid-row: span 3;

    transform: rotate(-5deg);
  }

  section.articles > article.left > h3 {
    grid-column: span 2;
    grid-row: span 1;
  }

  section.articles > article.left > p {
    grid-column: span 2;
  }

  /* Articles where the image is on the RIGHT */
  section.articles > article.right > div {
    grid-column: 3;
    grid-row: span 3;

    transform: rotate(5deg);
  }

  section.articles > article.right > h3 {
    grid-column: span 2;
    grid-row: 1;
  }

  section.articles > article.right > p {
    grid-column: span 2;
  }
}
